.primaryContainer {
  display: flex;
  justify-content: center;
  /* max-width: 450px; */
}

.uploadForm {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 60%;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.uploadForm a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.uploadForm a:first-child {
  margin-right: 20px;
  text-decoration: underline;
}

.uploadForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.uploadForm form input[type="file"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  border: 2px solid #ccc;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.uploadForm form input[type="file"]:focus {
  border-color: #8c4bff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.uploadForm form button[type="submit"] {
  background-color: #8c4bff;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.uploadForm form button[type="submit"]:hover {
  background-color: #7232ff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
