.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
}

.credit-package-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.credit-package {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  width: 15%;
}

.selected {
  border: 1px solid purple;
}

.purchase-button {
  background-color: purple;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-top: 16px;
  cursor: pointer;
  width: 45%;
  height: 15;
}

h2 {
  text-decoration: underline purple;
}

.discord {
  margin-top: 16px;
  font-size: 12px;
  color: gray;
}

.rowz {
  display: flex;
  flex-direction: row;
}
